/*reset*/
*{
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}  
nav ul{
    list-style: none;
}
ul{
    list-style: none;
}
/*grid geral*/
#struct{
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    background: url(img/img-main3.jpg) 0 20% ;

    height: 100vh;
    position: relative;
}

/*coluna de login*/
.col-1{
    background: #222b3ca2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    grid-row: 1/4;

}
#logo{
    color: white;
    font-family: 'Londrina Shadow', cursive;
    font-size: 3rem;
    position: absolute;
    top:20px;
    left: 20px;
}
.col-1 form{    
    align-self: center;
    display: flex;
    flex-direction: column;  
    margin-top: 280px;  
    position: relative;
}
.col-1 form #login{
    background:transparent;
    border: none;
    border-bottom: 5px solid white;
    border-radius: 4px;
    outline: 0;
    width: 100px;
    transition: 0.5s;
    z-index: 1;
    color: white;
    transition: 200ms;

}
.col-1 form #login:focus{
    border-bottom: 5px solid #222b3c;
}
.col-1 form #password{
    margin-top: 60px;    
    background:transparent;
    border: none;
    border-bottom: 5px solid white;
    border-radius: 4px;
    outline: 0;
    color: white;
}
.col-1 form #password:focus{
    border-bottom: 5px solid  #222b3c;
}

.col-1 form  #btn-sign{
    position: absolute;
    top: 40px;
    left: 170px;
    font-size: 3.5rem;
    color: white;
}

.col-1 .networks{
    margin-top: 20px;
    display:flex;
    
}
.col-1 .networks ul{
    display: flex;
    flex-direction: column;
}
.col-1 .networks li{
    padding: 10px;
    padding-left: 30px;
}

.col-1 .networks li i{
    color: white;
    font-size: 0.9rem;
}
.col-1 .networks #alternate{
    margin-top: 113px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    color: white;
}
.col-1 .networks #alternate li{
    padding: 10px;
}
#arrow-1{
    font-size: 2rem;

}
#arrow-2{
    font-size: 2rem;
  
}

/*coluna de menu*/

.col-2{
    background: #222b3ca2;

    display: flex;
    height:80px;
    justify-content: space-between;
    width:100%;
    color: white;
    align-items: center;
    grid-column: 2 / 4;

}
.col-2 nav ul{
    display: flex;
}
.col-2 nav ul li + li{
    padding-left: 40px;
}
.col-2 nav ul li{
    transition: 200ms;
}
.col-2 nav ul li a{
    color: white;
    text-decoration: none;
}
.col-2 nav ul li:hover{
    transform: scale(1.2);
}
#menu {
    color: white;
    background: transparent;
    border: transparent;
    padding: 30px;
}
#menu i{
    font-size: 1.3rem;
}

/*images*/
::-webkit-scrollbar-track {
    background: #222b3ca2;


}
::-webkit-scrollbar {
    width: 12px;
    background: #F4F4F4;

}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 50px white; 
    border-radius: 10px;

}

.col-3{
    position: relative;
    grid-column: 2 / 4;
    grid-row: 3/4;
    height:140px;
    align-self: flex-end;
    display: flex;
    align-items: flex-end;   
    z-index: 1;
    
}
.col-3 ul li{
    position: relative;
}
.col-3 ul li span{
    top: 50px;
    right: 50px;
    font-size: 1.2rem;
    position: absolute;
    color: white;
}
.col-3 ul {
    display: flex;
    overflow-x:auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.col-3 ul li{
    min-width: 180px;
    justify-content:center;
    align-items:center;
    text-align: center;
}
.col-3 ul li + li, img{

    margin-left: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 1px rgb(255, 255, 255);
}
.col-3 ul li img{
    width: 100%;
    height:120px;
}


/*london*/
.london{
    color: rgba(255, 255, 255, 0.322);
    font-family: 'Londrina Shadow', cursive;
   font-family: 'Londrina Outline', cursive;
    font-size: 17rem;
    position: absolute;
    top: 280px;
    left: 220px;
  
    letter-spacing: 40px;
}
.london-city{
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 3px  rgb(255, 253, 159);
    position: absolute;
    top: 220px;
    left: 100px;
    font-weight: bolder;
    font-family: arial;
}
